$rv-main-bg: #333333;
$rv-main-text: #ffffff;
$rv-modal-text: #333333;
$rv-border-radius: 5px;
$rv-window-nav-border-radius: 10px;
$rv-input-bg: #555555;
$rv-modal-input-bg: #efefef;
$rv-error-text: #cc3333;
$rv-error-bg: #eecccc;